if test_mode
    h1 Your Stripe + RevenueCat example is up and running! 
    hr
    p For documentation on how to properly use this project, view the documentation 
        a(href="https://github.com/RevenueCat-Samples/stripe-no-website-example") here.
    p Note: This message will only be displayed in test mode. To customize this page, edit `views/landing.jade`
else
    h2 Invalid purchase URL. 